.container{
  background-color: white;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 32%;
  padding: 10px;
  height: 300px;
}

h1, h2{
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
    text-shadow: 1px 1px red;
}

p{
    font-size: 18px;
    flex-direction: ;
}
